@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #f8f9fb;
  --foreground: #191c1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Space Grotesk", Arial, Helvetica, sans-serif;
  --font-mono: "Space Grotesk", "Courier New", Courier, monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

::selection {
  background: #1b1b1b;
  color: #ffffff;
}

html {
  scrollbar-color: #7e7576 #edeef0;
}
